.container
  div(class="inner clearfix")
    .content
      .left
        div(class="inner clearfix")
          .row.title
            h2.matches 
              span ¡Se encontraron <span class="num">3</span> coincidencias!
          .row
            .match
              .clearfix
                .image
                  img(src="/images/users/erick.jpg")
                .details
                  a(href="#", class="show-route") Mostrar
                  h3
                    a(href="#", class="name") Erick Romero
                  .from
                    strong Origen:
                    span Arquitectos #645
                  .to
                    strong Destino:
                    span ITESO
                  .time
                    strong Salida:
                    span 7:00 AM
                  .type ride
            .match
              .clearfix
                .image
                  img(src="/images/users/isra.jpg")
                .details
                  a(href="#", class="show-route") Mostrar
                  h3
                    a(href="#", class="name") Erick Romero
                  .from
                    strong Origen:
                    span Arquitectos #645
                  .to
                    strong Destino:
                    span ITESO
                  .time
                    strong Salida:
                    span 7:00 AM
                  .type ride
            .match
              .clearfix
               .image
                img(src="/images/users/paco.jpg")
               .details
                 a(href="#", class="show-route") Mostrar
                 h3
                   a(href="#", class="name") Erick Romero
                 .from
                   strong Origen:
                   span Arquitectos #645
                 .to
                   strong Destino:
                   span ITESO
                 .time
                   strong Salida:
                   span 7:00 AM
                 .type ride
      .right
        div(class="inner clearfix")
          .row.map
            #map
              <iframe width="570" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=guadalajara&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=42.310334,93.955078&amp;ie=UTF8&amp;hq=&amp;hnear=Guadalajara,+Jalisco,+Mexico&amp;t=m&amp;z=13&amp;ll=20.67359,-103.343803&amp;output=embed"></iframe>
              .description  
                strong Pro Tip:
                span Puedes ver la ruta de las personas haciendo click en 
                  strong "Mostrar"