.container
  .ruta
    form(name="newride", id="newride", method="POST", action="new")
      .left  
        .row  
          h2 ¿Qué quieres hacer?
          .option
            label(for="give") Dar ride
            radio(id="give", name="action", value="give")
          .option
            label(for="get") Recibir ride
            radio(id="get", name="action", value="get")
          .option
            label(for="both") Ambos
            radio(id="both", name="action", value="both")
        .row
          h2 ¿Cuál es tu ruta?
          .option
            label(for="from") ¿De dónde sales?
            input(type="text", id="from", name="from")
          .option
            label(for="to") ¿A dónde llegas?
            input(type="to", id="from", name="to")
        .row
          h2 ¿Cuál es tu horario?
          .option  
            label(for="start") Hora de salida
            input(type="text", id="start", name="start")
          .option  
            label(for="llegada") Hora de llegada
            input(type="text", id="llegada", name="llegada")
      .right
        .row
          #mapa
        .row
          h2 Observaciones
          .option
            textarea(id="observaciones", name="observaciones")
      .bottom
        .share-button
          input(type="submit", value="Compartir Viaje")