.container
  div(class="inner clearfix")
    .ruta
      form(name="newride", id="newride", method="POST", action="matches")
        .left
          div(class="inner clearfix")
            .row.what-to-do  
              h2 ¿Qué quieres hacer?
              .option.clearfix
                label(for="with_car", class="with_car radio") Dar ride
                input(type="radio", id="with_car", name="type_u", value="0")
              .option.clearfix
                label(for="passenger", class="passenger radio") Recibir ride
                input(type="radio", id="passenger", name="type_u", value="1")
              .option.clearfix
                label(for="both", class="both radio") Ambos
                input(type="radio", id="both", name="type_u", value="2")
            .row.route
              h2 ¿Cuál es tu ruta?
              .option
                label(for="origin") ¿De dónde sales?
                input(type="text", id="origin", name="origin")
              .option
                label(for="destination") ¿A dónde llegas?
                input(type="text", id="destination", name="destination")
                .description.total(style="visibility:hidden")
                  span Distancia total:&nbsp;
                  span#total
                input(type="hidden", name="route", id="route")  
            .row.schedule
              h2 ¿Cuál es tu horario?
              .option  
                label(for="date") Fecha
                input(type="text", id="date", name="date")
              .option  
                label(for="schedule_departure_time") Hora de salida
                input(type="text", id="schedule_departure_time", name="schedule_departure_time")
              .option  
                label(for="schedule_return_time") Hora de llegada
                input(type="text", id="schedule_return_time", name="schedule_return_time")
        .right
          div(class="inner clearfix")
            .row.map
              #map
                div(id="map_canvas" , style="width:570px; height: 350px;")
                .description 
                  strong Pro Tip:
                  span Puedes modificar tu ruta arrastrando el punto azul en el mapa.
            .row.observations
              h2 Observaciones
              .option
                textarea(id="comments", name="comments")
        .bottom
          div(class="inner clearfix")
            .share-button
              input( id="submit", type="submit", value="Compartir Viaje")